{{>header}}
<link rel="stylesheet" href="/banco/css/solicitudes.css">
<style>
.main-content{
    margin: 100px 50px;
}
.search-table{
    margin-top:0;
}
</style>
<div class="main-content">
    <div class="search-table">
<table id="resumen-table"></table>
    </div>

</div>


<script src="/partials/format-functions.js"></script>
<script src="/partials/detalles-consulta.js"></script>