<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="header/style.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<header style="background-color: #183c56;">

<div style="width:1117px; margin:0 auto;">
<ul>
  <li><img src="./img/logo-blanco.png" style="padding-right: 80px; width:280px;"></li>
</ul>

  <a href="#" class="notification" id="notifs" onclick="notifs()">
  <span>Notificaciones</span>
  <span class="badge" id="badge"></span>
</a>

<ul style="position: absolute;
    left: 90%;
    top: 0px; width:auto;">
<li class="dropdown">
 <a href="javascript:void(0)" class="dropbtn" style="border:none;"><img src="./img/user-2.png" style="width:35px;"></a>
    {{!-- <div class="dropdown-content">
      <a href="#">Mi Perfil</a>
      <a href="#" id="cs">Cerrar Sesion</a>
    </div> --}}
</li>
</ul>



</div>
</div>


</header>
{{!-- <div class="popup" id="popup">
<table class="notifs-table" id="notifs-table">
<p id="emptyNotifs">No hay notificaciones</p> --}}
</table>

</div>
