<link rel="stylesheet" href="/partials/sb.css">
<nav>
<div class="sidebar-background"></div>    
<div class="sidebar-div">

<ul>
    <li><li><a href="/administrador/inicio" id="inicio">Inicio</a></li></li>
    <li><li><a href="/administrador/clientes" >Clientes</a></li></li>
</ul>
</div>
</nav>
<script src="/partials/format-functions.js"></script>
