<link rel="stylesheet" href="/partials/sb.css">
<nav>
<div class="sidebar-background"></div>    
<div class="sidebar-div">

<ul>
    <li><li><a href="/comprador/inicio" id="inicio">Inicio</a></li></li>
    <li><li><a href="/comprador/registro-facturas" >Registro de Documentos</a></li></li>
    <li><li><a href="/comprador/consultar-facturas" >Consultar Documentos</a></li></li>
       <li><li><a href="/comprador/notificaciones" id="notiicaciones">Notificaciones</a></li></li>
    <li><li><a href="#" >Mis Clientes</a></li></li>
</ul>
</div>
</nav>
<script src="/partials/format-functions.js"></script>