<html>
    <head>
<link rel="stylesheet" href="/banco/css/inicio.css">
    </head>
    <body>
        {{>header}}
        {{>sbAdmin}}
        <div class="main-content">
        <h1>Dashboard Admin</h1>
        </div>
        
    </body>
</html>

