<html>
    <head>
<link rel="stylesheet" href="/banco/css/inicio.css">
<link rel="stylesheet" href="/proveedor/css/notificaciones.css">
    </head>
    <body>
        {{>header}}
        {{>sbBanco}}
<div class="main-content">
        <h1>Notificaciones</h1>
        <div class="caja">
           <div class="top-table"> 
               <input type="checkbox"> Seleccionar Todas 
               <button>Marcar como leído</button>
               </div>
            <table id="tabla-notifs">
            <tr>
            <td class="cb"><input type="checkbox"> </td>
            <td>La factura #237489427292 ha sido descontada por el proveedor</td>
            </tr>
             <tr>
             <td class="cb"><input type="checkbox"> </tdclass="cb">
             <td>La factura #237489427292 ha sido confirmada por el comprador</td>
            </tr>
            </table>
        </div></div>>
        </div>
        
    </body>
</html>



