<html>
    <head>
<link rel="stylesheet" href="/comprador/css/inicio.css">
    </head>
    <body>
        {{>header}}
        {{>sbComprador}}
        <div class="main-content">
        <h1>Dashboard</h1>
        </div>
        
    </body>
</html>

