<html>
    <head>

    </head>
    <body>
        {{>header}}
        <div class="main-content" style="margin-top:20%;">
            <button><a href="/administrador/inicio">Administrador</a></button>
            <button><a href="/proveedor/inicio">Proveedor</a></button>
            <button><a href="/comprador/inicio">Comprador</a></button>
            <button><a href="/banco/inicio">Banco</a></button>
        </div>
    </body>
</html>