<html>
    <head>

    </head>
    <body>
        {{>header}}
        {{>sbComprador}}
        <div class="main-content" style="margin-top:20%;">
           <h3>From: <span id="from"></span></h3>
           <h4>Referencia: </h4><p id="ref"></p>
           <h4>Notification:</h4>
           <p id="message"></p>
        </div>
    </body>
    <script src="/partials/notificacion.js"></script>
</html>